table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
thead{
    font-weight: bold;
}
td{
    padding: 10px;
}
table{
    margin: 0 auto;
}
.main{
    text-align: center;
    font-size: 20px
}

.text_field{
    width: 300px;
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 17px;
    outline:none;
}

.title{
    margin-bottom: 5px;
}

.mf-req{
    color: #e13737;
}

.textar{
    border-radius: 10px;
    width: 500px;
    font-size: 20px;
    margin-bottom: 17px;
    outline:none;
    padding: 5px;
}

.sbm{
    width: 150px;
    height: 50px;
    font-size: 20px;
    background: darkgreen;
    color: white;
    outline: none;
}
.sbm:hover{
    background: #128216;
}

.success_mes{
    color: green;
}